<div class="center jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is the first page wo welcome you.</p>
    <p><%= link_to "Sign in", "", role: "button", class: "btn btn-primary btn-lg" %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Browse as Guest</h3>
        <p>See content without being logged in.</p>
        <p><a href="#" class="btn btn-primary" role="button">Go there</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>