


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;  
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #21272d;
  margin-top: 50px;
  color: #efefef;
  min-height: 200px;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px; 
}

.jumbotron {
  background-image: url("jumbotron-1000x288.jpg");
  background-size: cover;
}

.white {
  color: #fff;
  h1 {
      color: #fff;
  }
}

.navbar {
    margin-bottom: 0px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.messages {
  margin-top: 10px;
}